<meta charset="UTF-8" />
<link rel="icon" href="/img/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
<link rel="manifest" href="/manifest.json" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Impro</title>
<link rel="stylesheet" href="/css/style.css" />
<!-- SEO tags -->
<meta property="og:type" content="website" />
<meta property="og:title" content="Impro" />
<meta property="og:description" content="A Bluesky web client" />
<meta property="og:image" content="https://{{ hostName }}/img/impro-logo.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Impro" />
<meta
  name="twitter:image"
  content="https://{{ hostName }}/img/impro-logo.jpg"
/>
<!-- End SEO tags -->
<script>
  // Inject environment variables from 11ty
  window.env = {
    hostName: "{{ hostName }}",
    gitCommit: "{{ gitCommit }}",
    environment: "{{ environment }}",
    version: "{{ version }}",
    oauthScopes: "{{ oauthScopes }}",
  };
</script>
<script>
  import("/js/theme.js").then(({ theme }) => {
    // Apply theme separately so it applies even if the other JS fails somehow.
    // We could make this synchronous but it's not worth the effort for now.
    theme.apply();
  });
</script>
